<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Quản lý tải khoản của quản lý</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center gap-3 mt-6 sm:mt-0 sm:ml-4">
            <button mat-raised-button [color]="'primary'" (click)="openCreateManagerDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </button>
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Tìm kiếm'">
            </mat-form-field>
        </div>
    </div>

    <!-- Managers list -->
    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <ng-container *ngIf="(managers$ | async) as managers">
            <div class="grid">
                <!-- Header -->
                <div class="manager-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSort matSortDisableClear>
                    <div>Ảnh</div>
                    <div [mat-sort-header]="'name'">Tên</div>
                    <div class="hidden sm:block">
                        Giới tính
                    </div>
                    <div class="hidden sm:block">
                        Số điện thoại
                    </div>
                    <div class="hidden sm:block">
                        Chức vụ
                    </div>
                    <div class="hidden sm:block">Trạng thái</div>
                    <div class="hidden sm:block">Chi tiết</div>
                </div>
                <!-- Rows -->
                <ng-container *ngIf="managers.length > 0; else noManagers">
                    <ng-container *ngIf="(managers$ | async) as managers">
                        <ng-container *ngFor="let manager of managers; trackBy: trackByFn">
                            <div class="manager-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                <!-- Image -->
                                <div class="flex items-center">
                                    <div
                                        class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                        <img class="w-8" *ngIf="manager.avartarUrl" [alt]="'Manager thumbnail image'"
                                            [src]="manager.avartarUrl">
                                        <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                            *ngIf="!manager.avartarUrl">
                                            NO THUMB
                                        </div>
                                    </div>
                                </div>

                                <!-- Name -->
                                <div class="truncate">
                                    {{manager.name}}
                                </div>

                                <!-- Gender -->
                                <div class="hidden sm:block">
                                    {{manager.gender}}
                                </div>

                                <!-- Phone -->
                                <div class="hidden sm:block">
                                    {{manager.phone}}
                                </div>

                                <!-- Role -->
                                <div class="hidden sm:block">
                                    {{manager.role}}
                                </div>

                                <!-- Active -->
                                <div class="hidden sm:block">
                                    <ng-container *ngIf="manager.status">
                                        <mat-icon class="text-green-400 icon-size-5"
                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="!manager.status">
                                        <mat-icon class="text-gray-400 icon-size-5"
                                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                    </ng-container>
                                </div>

                                <!-- Action -->
                                <div class="hidden sm:block">
                                    <div class="flex gap-3">
                                        <span [routerLink]="['/accounts/managers', manager.id]">
                                            <mat-icon class="text-blue-500 icon-size-5 cursor-pointer"
                                                [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                        </span>
                                        <span (click)="openUpdateManagerDialog(manager)">
                                            <mat-icon class="text-amber-500 icon-size-5 cursor-pointer"
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>

            </div>

            <mat-paginator
                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.totalRow"
                [pageIndex]="pagination.pageNumber" [pageSize]="pagination.pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

        </ng-container>

        <ng-template #noManagers>
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Không có tài khoàn nào
                được tìm thấy!
            </div>
        </ng-template>

    </div>

</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert class="absolute bottom-0 right-0 z-999" [type]="'success'" [appearance]="'border'"
        *ngIf="flashMessage === 'success'">
        <span fuseAlertTitle>Thành công</span>
        {{message}}
    </fuse-alert>
    <fuse-alert class="absolute bottom-0 right-0 z-999" [type]="'error'" [appearance]="'border'"
        *ngIf="flashMessage === 'error'">
        <span fuseAlertTitle>Có lỗi xảy ra</span>
        {{message}}
    </fuse-alert>
</a>