<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <span class="font-semibold text-lg">
            Thông tin chi tiết của xe
        </span>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto items-center gap-6 sm:items-start p-8 pb-6 sm:pb-8 w-full">

        <div class="grid grid-cols-3 w-full justify-between">
            <div class="col-span-1">
                <div class="flex flex-col w-full">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                        <span class="leading-none">Biển số:
                            <span class="font-bold">
                                {{ machine.licensePlate }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <span class="leading-none">Mẫu:
                            <span class="font-bold">
                                {{ machine.model.name }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                        <span class="leading-none">Hãng xe:
                            <span class="font-bold">
                                {{ machine.model.productionCompany.name }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                        <span class="leading-none font-bold">Lịch hoạt động
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col w-full">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                        <span class="leading-none">Số chỗ ngồi:
                            <span class="font-bold">
                                {{ machine.model.seater }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                        <span class="leading-none">Độ cao gầm:
                            <span class="font-bold">
                                {{ machine.model.chassis }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:qrcode'"></mat-icon>
                        <span class="leading-none">Năm sản xuất:
                            <span class="font-bold">
                                {{ machine.model.yearOfManufacture }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col w-full">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:lightning-bolt'"></mat-icon>
                        <span class="leading-none">Loại nhiên liệu:
                            <span class="font-bold">
                                {{ machine.model.fuelType }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:chip'"></mat-icon>
                        <span class="leading-none">Truyền động:
                            <span class="font-bold">
                                {{ machine.model.transmissionType }}
                            </span>
                        </span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:beaker'"></mat-icon>
                        <span class="leading-none">Mức tiêu hao nhiên liệu:
                            <span class="font-bold">
                                {{ machine.model.fuelConsumption }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <ng-container *ngIf="machine.carCalendars">
            <table class="border-collapse table-auto w-full">
                <thead>
                    <tr>
                        <th class="w-1/7 font-bold text-center py-2 px-4 border border-gray-400"></th>
                        <ng-container *ngFor="let day of weekdays">
                            <th class="w-1/7 font-bold text-center py-2 px-4 border border-gray-400">{{day |
                                dayTranslate}}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-slate-800">
                    <tr>
                        <td class="w-1/7 font-bold text-center py-2 px-4 border border-gray-400">Từ lúc
                        </td>
                        <ng-container *ngFor="let data of dataSource">
                            <td class="text-center py-2 px-4 border border-gray-400">{{data.startTime}}</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <td class="w-1/7 font-bold text-center py-2 px-4 border border-gray-400">Đến
                        </td>
                        <ng-container *ngFor="let data of dataSource">
                            <td class="text-center py-2 px-4 border border-gray-400">{{data.endTime}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>

        </ng-container>
        <ng-container *ngIf="!machine.carCalendars">
            <div class="italic">
                Xe chưa được xếp lích
            </div>
        </ng-container>

        <div class="flex flex-col gap-4 w-full">
            <div class="flex items-center">
                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                <span class="leading-none font-bold">Vị trí
                </span>
            </div>
            <agm-map class="w-full h-100 rounded-xl" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>