<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <span class="font-semibold text-lg">
            Update driver
        </span>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">

        <form [formGroup]="updateDriverForm" class="w-full">

            <div class="grid grid-cols-2 gap-3 w-full mb-3">
                <!-- Name -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [formControlName]="'name'" />
                </mat-form-field>

                <!-- Gender -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Gender</mat-label>
                    <mat-select (selectionChange)="onGenderChange($event.value)" [formControlName]="'gender'">
                        <mat-option [value]="'Nam'">Nam</mat-option>
                        <mat-option [value]="'Nữ'">Nữ</mat-option>
                        <mat-option [value]="'Khác'">Khác</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Address -->
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                <mat-label>Address</mat-label>
                <input matInput type="text" [formControlName]="'address'" />
            </mat-form-field>

            <!-- Phone -->
            <div class="mb-3">
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" [formControlName]="'phone'" />
                </mat-form-field>
                <div class="text-red-500"
                    *ngIf="updateDriverForm.get('phone').invalid && updateDriverForm.get('phone').touched && updateDriverForm.get('phone').errors?.phone">
                    Please enter a valid phone number.
                </div>
            </div>
            <div class="flex justify-end">
                <!-- Submit button -->
                <button class="flex gap-2" mat-raised-button [color]="'primary'" (click)="updateDriver(data.id)">
                    <span>Update</span>
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                </button>
            </div>

        </form>
    </div>

</div>