<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-10">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Thông tin đăng ký xe</div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 gap-3">
            <ng-container *ngIf="!carRegistration.status">
                <button class="flex gap-2" mat-raised-button [color]="'warn'">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    Từ chối
                </button>
                <button class="flex gap-2" mat-raised-button [color]="'primary'" (click)="openCreateCarDialog()">
                    <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    Xác nhận
                </button>
            </ng-container>
            <ng-container *ngIf="carRegistration.status">
                <div class="text-green-500 font-bold border-green-500 border-2 rounded-full p-3 cursor-pointer">
                    Phiếu đăng ký đã được phê duyệt
                </div>
            </ng-container>
        </div>
    </div>

    <div class="flex flex-col flex-auto items-center overflow-hidden sm:overflow-y-auto">
        <div class="flex flex-col px-10 w-full">
            <div class="grid grid-cols-3 w-full gap-4">
                <fuse-card class="flex flex-col w-full filter-listing">
                    <ng-container *ngIf="carRegistration.images.length > 0">
                        <img class="object-cover h-96 w-auto"
                            src="{{ selectedImage?.url || carRegistration.images[0].url }}" alt="Card cover image">
                        <div class="flex flex-wrap justify-center gap-2 px-4">
                            <div class="my-3" *ngFor="let image of carRegistration.images">
                                <ng-container *ngIf="image.type === 'Thumbnail'">
                                    <span class=" cursor-pointer " (click)="selectImage(image)">
                                        <img class="shadow-lg object-cover w-24 h-18 rounded-lg" src="{{ image.url }}"
                                            alt="Card cover image">
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <div class="m-8 mb-4">
                        <div class="flex justify-between">
                            <div class="flex flex-col">
                                <div class="text-secondary text-md">{{ carRegistration.productionCompany }} - {{
                                    carRegistration.name }}</div>
                                <div class="text-2xl font-semibold text-green-500 leading-tight mt-1">{{
                                    carRegistration.price |
                                    number:'1.0-2' }} VNĐ</div>
                            </div>
                        </div>
                        <hr class="border-b my-4">
                        <div class="flex flex-col text-md">
                            <span class="whitespace-nowrap">Sản xuất năm <b> {{
                                    carRegistration.yearOfManufacture}}</b></span>
                            <span class="whitespace-nowrap"><b>{{ carRegistration.seater }}</b> chỗ ngồi</span>
                            <span class="whitespace-nowrap">Sử dụng <b>{{ carRegistration.fuelType }}</b></span>
                        </div>
                        <hr class="border-b my-4">
                        <div class="mt-3 -mx-3">
                            <a class="px-3" mat-button [color]="'primary'" (click)="openCarInformationDialog()">
                                Xem chi tiết hơn
                            </a>
                        </div>
                    </div>
                </fuse-card>
                <fuse-card class="flex flex-col items-center w-full p-8 pb-6 filter-info">
                    <img class="w-32 h-32 rounded-full" src="assets/images/avatars/male-04.jpg" alt="Card cover image">
                    <div class="text-secondary leading-tight text-center mt-8">Chủ xe</div>
                    <div class="text-2xl font-semibold leading-tight text-center mt-1">{{ carRegistration.carOwner.name
                        }}</div>
                    <hr class="w-full border-t mt-8 mb-0">
                    <div class="flex w-full flex-col my-4">
                        <div class="flex">
                            <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <span class="leading-none">{{ carRegistration.carOwner.address }}</span>
                        </div>
                        <div class="flex mt-4">
                            <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            <span class="leading-none">{{ carRegistration.carOwner.phone }}</span>
                        </div>
                        <div class="flex mt-4">
                            <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                            <span class="leading-none">{{ carRegistration.carOwner.gender }}</span>
                        </div>
                    </div>
                    <hr class="w-full border-t mt-0 mb-8">
                    <div class="text-center text-secondary">Chủ xe có thể sở hữu nhiều xe và có thể trở thành tài xế
                    </div>
                </fuse-card>
                <fuse-card class="flex flex-col w-full p-8 pt-6 filter-list">
                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Phụ phí</div>
                    </div>
                    <div class="flex flex-col my-2">
                        <div class="my-2">
                            <div>Số km tối đa được đi</div>
                            <div class="text-secondary text-md">{{ carRegistration.additionalCharge.maximumDistance }}
                                km/ngày
                            </div>
                        </div>
                        <div class="my-2">
                            <div>Phí vượt quá khoảng cách quy định</div>
                            <div class="text-secondary text-md">{{ carRegistration.additionalCharge.distanceSurcharge |
                                number:'1.0-2' }} VNĐ/km</div>
                        </div>
                        <div class="my-2">
                            <div>Phí vượt quá thời gian quy định</div>
                            <div class="text-secondary text-md">{{ carRegistration.additionalCharge.timeSurcharge |
                                number:'1.0-2' }} VNĐ/giờ</div>
                        </div>
                        <div class="my-2">
                            <div>Phí dịch vụ</div>
                            <div class="text-secondary text-md">{{ 25000 | number:'1.0-2' }} VNĐ</div>
                        </div>
                        <div class="my-2">
                            <div>Phí bảo hiểm</div>
                            <div class="text-secondary text-md">{{ 25000 | number:'1.0-2' }} VNĐ</div>
                        </div>
                        <div class="my-2">
                            <div>Phí tài xế</div>
                            <div class="text-secondary text-md">{{ 250000 | number:'1.0-2' }} VNĐ/ngày</div>
                        </div>
                    </div>
                </fuse-card>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert class="absolute bottom-0 right-0 z-999" [type]="'success'" [appearance]="'border'"
        *ngIf="flashMessage === 'success'">
        <span fuseAlertTitle>Thành công</span>
        {{message}}
    </fuse-alert>
    <fuse-alert class="absolute bottom-0 right-0 z-999" [type]="'error'" [appearance]="'border'"
        *ngIf="flashMessage === 'error'">
        <span fuseAlertTitle>Có lỗi xảy ra</span>
        {{message}}
    </fuse-alert>
</a>