<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Thông tin tài xế</div>
    </div>

    <div class="flex flex-col flex-auto items-center sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <div class="flex flex-col items-center px-10 w-full">
            <div class="grid grid-cols-2 w-full gap-8">
                <div class="col-span-1 flex flex-col items-center justify-between bg-card rounded-lg p-8">
                    <div class="infor">
                        <div class="relative w-24 h-24">
                            <img class="w-full h-full rounded-full" *ngIf="driver.avatarUrl" [src]="driver.avatarUrl"
                                alt="User avatar">
                            <mat-icon class="icon-size-24" *ngIf="!driver.avatarUrl"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </div>
                        <div class="flex flex-col items-center justify-center w-full">
                            <div
                                class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-semibold text-lg">
                                {{driver.name}}
                            </div>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <ng-container *ngIf="driver.accountStatus">
                            <button mat-raised-button color="warn" class="w-full"
                                (click)="updateDriverStatus(driver.id, false)">
                                <mat-icon [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!driver.accountStatus">
                            <button mat-raised-button color="primary" class="w-full"
                                (click)="updateDriverStatus(driver.id, true)">
                                <mat-icon [svgIcon]="'heroicons_outline:lock-open'"></mat-icon>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div class="col-span-1 flex flex-col bg-card rounded-lg p-8">
                    <div class="flex justify-items-center gap-3 mb-6">
                        <mat-icon svgIcon="heroicons_outline:phone"></mat-icon>
                        <span class="font-semibold ">
                            Số điện thoại:
                        </span>
                        <span>
                            {{driver.phone}}
                        </span>
                    </div>
                    <div class="flex justify-items-center gap-3 mb-6">
                        <mat-icon svgIcon="heroicons_outline:users"></mat-icon>
                        <span class="font-semibold ">
                            Giới tính:
                        </span>
                        <span>
                            {{driver.gender}}
                        </span>
                    </div>
                    <div class="flex justify-items-center gap-3 mb-6">
                        <mat-icon svgIcon="heroicons_outline:shield-exclamation"></mat-icon>
                        <span class="font-semibold ">
                            Địa chỉ:
                        </span>
                        <span>
                            {{driver.address}}
                        </span>
                    </div>
                    <div class="flex justify-items-center gap-3 mb-6">
                        <mat-icon svgIcon="heroicons_outline:status-online"></mat-icon>
                        <span class="font-semibold ">
                            Trạng thái:
                        </span>
                        <span>
                            {{driver.accountStatus | accountStatus}}
                        </span>
                    </div>
                    <div class="flex justify-items-center gap-3 mb-6">
                        <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                        <span class="font-semibold ">
                            Ngân hàng:
                        </span>
                        <span>
                            {{driver.bankName || "No information"}}
                        </span>
                    </div>
                    <div class="flex justify-items-center gap-3">
                        <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                        <span class="font-semibold ">
                            Số tài khoản:
                        </span>
                        <span>
                            {{driver.bankAccountNumber || "No information"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>