<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <span class="font-semibold text-lg">
            Xác nhận phiếu đăng ký xe
        </span>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8 w-full">

        <form class="w-full" [formGroup]="carForm">
            <div class="grid grid-cols-3 gap-3 w-full">
                <mat-form-field class="w-full">
                    <mat-label>Dòng xe</mat-label>
                    <input type="text" placeholder="Model" formControlName="model" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayModel"
                        (optionSelected)="onSelectModel($event.option.value)">
                        <mat-option *ngFor="let model of filteredModels | async" [value]="model" [ngValue]="model">
                            {{ model.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Năm sản xuất</mat-label>
                    <input matInput type="number" placeholder="Year of Manufacture" formControlName="yearOfManufacture"
                        readonly>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Hộp số</mat-label>
                    <input matInput type="text" placeholder="Transmission Type" formControlName="transmissionType"
                        readonly>
                </mat-form-field>
            </div>
            <div class="grid grid-cols-4 gap-3 w-full">
                <mat-form-field class="w-full">
                    <mat-label>Số chỗ ngồi</mat-label>
                    <input matInput type="number" placeholder="Seater" formControlName="seater" readonly>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Khung gầm</mat-label>
                    <input matInput type="text" placeholder="Chassic" formControlName="chassis" readonly>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Loại nhiên liệu</mat-label>
                    <input matInput type="text" placeholder="Fuel Type" formControlName="fuelType" readonly>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Mức tiêu hao nhiên liệu</mat-label>
                    <input matInput type="text" placeholder="Fuel Consumption" formControlName="fuelConsumption"
                        readonly>
                </mat-form-field>
            </div>

            <mat-form-field class="w-full">
                <mat-label>Tìm kiếm địa chỉ</mat-label>
                <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)" placeholder="Tìm kiếm địa chỉ" />
            </mat-form-field>

            <agm-map class="w-full h-100" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>

            <div class="flex w-full justify-end mt-6">
                <button class="flex gap-2" mat-raised-button [color]="'primary'" (click)="createCar()">
                    <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    Xác nhận
                </button>
            </div>
        </form>

    </div>
</div>